<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <br><br><br>
    <div class="footer">
        <div id="footer1">
            <a href="../contact/contactus.php">Contact Us</a>
            <a href="#">Career</a>
            <a href="#">Address</a>
        </div>
        <div id="footer2">
            <a href="https://www.facebook.com/ekhtearf/" target="_blank"><img src="../files/fb.png"></a>
            <a href="https://www.linkedin.com/in/ekhtearf" target="_blank"><img src="../files/ln.png"></a>
        </div>
    </div>
    <div class='rights'>
    <h3>All Right reserved by ekhtearf@gmail.com</h3></div>
</body>
</html>