<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/myjs.js"></script>
</head>
<body>
    <div class="sticky">
      <div class="topnav">
        <img width="50%" src="../files/lg.png"/>
        <button onclick="showmyproduct()" class="search">Search</button>
        <input type="text" id="pname" class="search">
        <a href="#">Franchise</a>
        <a href="../about/aboutus.php">About</a>
        <a href="/shop/index.php">Home</a>

      </div>
    </div>
</body>
</html>